/*NEW STUFF HERE!*/

a {
    text-decoration: none;
}

nav {
    font-family: monospace;
}

.header-list, .dropdown {
    background-color: darkorange;
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.header-item {
    color: #fff;
    background: darkorange;
    display: block;
    float: left;
    padding: 1rem;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
}

.header-item a {
    color: #fff;
}

.header-item:hover, .header-item:focus-within {
    background: red;
    cursor: pointer;
}

.header-item:focus-within a {
    outline: none;
}

.dropdown {
    background: orange;
    visibility: hidden;
    opacity: 0;
    min-width: 5rem;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    left: 0;
    display: none;
}

.header-item:hover > ul,
.header-item:focus-within > ul,
.dropdown:hover,
.dropdown:focus {
    visibility: visible;
    opacity: 1;
    display: block;
}

.dropdown li {
    clear: both;
    width: 100%;
}
